<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

    <title>Books Management System</title>
</head>
<body>

<div class="container">

    <h2><span th:text="${appName}"></span></h2>
    </br>

    <h3>Books</h3>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN-13</th>
            <th>Comments</th>
            <th></th>
        </tr>
        </thead>
        <tr th:each="book : ${books}">
            <th scope="row" th:text="${book.getId()}"></th>
            <td th:text="${book.getTitle()}"></td>
            <td th:text="${book.getAuthor()}"></td>
            <td th:text="${book.getIsbn()}"></td>
            <td th:text="${book.getIsbn()}"></td>
            <td>
                <div class="btn-group">
                    <a>
                        <a th:href="@{'/book/{id}'(id=${book.getId()})}">
                            <button type="button" class="btn btn-warning">Edit</button>
                        </a>
                        <a>
                            <form th:action="@{'/book/{id}/delete'(id=${book.getId()})}" method="post">
                                <input type="hidden">
                                <button type="submit" class="btn btn-danger">Delete</button>
                        </a>
                        </form>
                </div>
            </td>
        </tr>
    </table>
    <a class="btn btn-warning float-right" href="">Add Book</a>
</div>

</body>
</html>